/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Стили для контейнера */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для заголовков */
h1, h2, h3 {
    color: #444;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

/* Стили для ссылок */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стили для списка статей */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для форм */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}

/* Стили для навигации */
nav {
    background: #007bff;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav .mytitle {
    font-size: 40px;
    font-family: Bahnschrift;
    color: hsl(0, 0%, 98%);
}
nav .logo img {
    height: 80px;
    margin-right: 20px;
    margin-left: 40px;
}

nav .menu {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Стили для футера */
footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about-section {
    display: flex;
    justify-content: space-between;
}

.author-photo img {
    margin-left: 100px;
    max-width: 50%;
}

.author-description {
    max-width: 60%;
}

.bigname {
    color: #444;
    font-size: 70px;
    font-weight: bold;
}

.middlename {
    color: #444;
    font-size: 30px;
}

.bluehr {
	height: 4px;
	border: none;
	background: #007bff;
}

.empty {}
